<h1>AJAX</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<%= link_to 'Session', '/ajax/session' %>
<div id="rest-ops">
<button id="list-members" type="button">List members</button><br>
<label>member first name</label><input id="member-firstName"><label>member last name</label>
<input id="member-lastName"><button id="create-member" type="button">Create member</button><br>
<label>member ID</label><input id="member-id" type="number"><label>member first name</label>
<input id="member-firstName1"><label>member last name</label>
<input id="member-lastName1"><button id="update-member" type="button">Update member</button><br>
<label>member ID</label><input id="member-to-delete" type="number">
<button id="delete-member" type="button">Delete member</button><br>
<label>member ID></label><input id="member-for-fact-list" type="number">
<button id="list-facts" type="button">List facts</button><br>
<label>member ID></label><input id="member-for-fact-add" type="number">
<label>fact Text></label><input id="fact-text">
<label>fact likes</label><input id="fact-likes" type="number">
<button id="create-fact" type="button">Create fact</button><br>
<label>member ID></label><input id="member-for-fact-update" type="number">
<label>fact ID></label><input id="fact-for-update" type="number">
<label>fact Text></label><input id="fact-text1">
<label>fact likes</label><input id="fact-likes1" type="number">
<button id="update-fact" type="button">Update fact</button><br>
<label>member ID></label><input id="member-for-fact-delete" type="number">
<label>fact ID></label><input id="fact-for-delete" type="number">
<button id="delete-fact" type="button">Delete fact</button><br>
</div>
<div id="results-div"></div>
<%= javascript_pack_tag 'ajax_ops' %>
